<a href="https://colab.research.google.com/github/mondalsudipta/Python-Programming/blob/main/140_PYTHON_Programs_for_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Program 4

Write a Python program to swap two variables

In [1]:
# input two variables
a = input('Enter first value (a): ')
b = input('Enter first value (b): ')

# display original values
print(f'Original values: a = {a}, b = {b}')

# swap values using a temporary variable
temp = a
a = b
b = temp

# display the swapped values
print(f'Swapped values: a = {a}, b = {b}')

Enter first value (a): 5
Enter first value (b): 9
Original values: a = 5, b = 9
Swapped values: a = 9, b = 5

# Program 5

Write a Python program to generate random number

In [4]:
import random
print(f'Random number: {random.randint(1, 100)}')

Random number: 52

# Program 6

Write a Python program to convert Kilometers to Miles

In [5]:
kilometers = float(input('Enter distance in kilometers: '))

# conversion factor: 1 kilometer = 0.621371 miles [source: google]
conversion_factor = 0.621371

miles = kilometers * conversion_factor

print(f'{kilometers} kilometers is equal to {miles} miles')

Enter distance in kilometers: 100
100.0 kilometers is equal to 62.137100000000004 miles

# Program 7

Write a Python program to convert Celsius to Fahrenheit

In [6]:
celsius = float(input('Enter temparature in Celsius: '))

# conversion formula: Fahrenheit = (Celsius * 9/5) + 32
fahrenheit = (celsius * 9/5) + 32

print(f'{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit')

Enter temparature in Celsius: 37
37.0 degrees Celsius is equal to 98.6 degrees Fahrenheit

# Program 8

Write a Python program to display Calendar

In [11]:
import calendar

year = int(input('Enter year: '))
month = int(input('Enter month: '))

cal = calendar.month(year, month)
print(cal)

Enter year: 2023
Enter month: 12
   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31